@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #FFB983;
    padding: 30px;

    display: flex;
    align-items: center;

    span {
        // justify-content: flex-start;
    }

    nav {
        // display: flex;
        // justify-content: flex-end;
    }
    
    nav ul {
        // display: flex;
        // flex-direction: row;

        list-style-type: none;

        li {
            margin-left: 20px;
        }
    }
}